.splash {
    background-color: #26252B;
    color: #fff;
}

.splash-header {

}

.splash-nav {

}

.splash-nav__logo {

}

.splash-nav__btn {

}

.splash-main {

}

.splash-main-hero {
    padding: 72px 50px 0;
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.splash-main-hero__header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.splash-main-hero__text {
    max-width: 710px;
    margin: auto;
    color: #737f8d;
    line-height: 1.5;
}

.splash-main-hero__cta-container {
    margin-top: 30px;
}

.splash-collage {

}

.triangle-1 {

}

.triangle-2 {
    
}

.triangle-3 {
    
}

.dot-1 {
    
}

.dot-2 {
    
}

.dot-3 {
    
}

.dot-4 {
    
}

.dot-5 {
    
}

.circle-1 {
    
}

.circle-2 {
    
}

.circle-3 {
    
}

.square-1 {
    
}

.square-2 {
    
}

.square-3 {
    
}

.diagonal-1 {
    
}

.diagonal-2 {
    
}

.diagonal-3 {
    
}

.potion {
    
}

.bomb {
    
}

.coin-1 {
    
}

.coin-2 {
    
}

.cartridge {
    
}

.shield {
    
}

.question-mark-box {
    
}

.desktop-monitor {
    
}

.android {
    
}

.iphone {
    
}

.game-controller {
    
}

.laptop {
    
}

.headphones {
    
}

.splash-footer {
    
}

.splash-footer__header {
    
}

.splash-footer__text {
    
}