.btn {
    color: #fff;
    border-radius: 5px;
    padding: 15px 0px;
    background-color: #7289DA;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    box-shadow: 3px 4px 4px -2px rgba(0,0,0,0.3);

    &:hover {
        cursor: pointer;
    }

    &--green {
        background-color: #5AB682;
    }
}